extends ../partials/head
block content
  .all-inner-wrapper 
    .header-content 
      .admin-info-wrapper 
        .admin-name-surname Welcome back #{admin.name_surname}!
        .admin-type #{admin.admin_type}
      .sdg-goal-image
        img(src="/res/images/un.png", alt="United Nations")
        img(src="/res/images/sdg.png" alt="Sustainable Development Goals")
    .main-content 
      .each-admin-feature#waitlist
        .title Waitlist
      .each-admin-feature#projects
        .title Projects
      .each-admin-feature#organizations
        .title Organizations
      .each-admin-feature#volunteers
        .title Volunteers
      .each-admin-feature#sdg
        .title SDG Goals
    .footer-content
      .signature-text powered by Üsküdar American Academy
