extends ../partials/head.pug
block content 
  .all-inner-wrapper
    .header-content 
      .admin-info-wrapper 
        .admin-name-surname Welcome back #{admin.name_surname}!
        .admin-type #{admin.admin_type}
      .sdg-goal-image
        img(src="/res/images/un.png", alt="United Nations")
        img(src="/res/images/sdg.png" alt="Sustainable Development Goals")
    .main-content
      .create-button#create-button
        span Create 
        i(class="fa-solid fa-plus")
      .create-form#create-form
        label(for="name") Name 
        input#name(type="text" name="name").sdg-name 
        label(for="number") Number (1-17) 
        input#number(type="number" min="1" max="17" name="number").sdg-number 
        label(for="photo") Photo 
        input#photo(type="file" name="photo" accept="image/png, image/jpeg, image/jpg").sdg-photo
        .submit-button#submit-button Save
    .footer-content
      .signature-text powered by Üsküdar American Academy