extends ../partials/header.pug
block content 
    .all-inner-wrapper
        .header-content 
            .admin-info-wrapper 
                .admin-name-surname Welcome back #{admin.name_surname}!
                .admin-type #{admin.admin_type}
            .sdg-goal-image
                img(src="/res/images/un.png", alt="United Nations")
                img(src="/res/images/sdg.png" alt="Sustainable Development Goals")
        .main-content 
            h3 Create multiple skills at same time
            form.create-form#create-form(method='POST' action='/admin/skills/create' autocomplete="off" enctype='application/json')
                label(for="names") Enter names for skills (split with ,) 
                input#names(type="text" name="names" required).sdg-name 
                button.submit-button#submit-button(type="submit") Save
            .skills-content 
                if skillNamesArray && skillNamesArray.length > 0
                    each skillName in skillNamesArray
                        div(style="margin-bottom:10px") #{skillName}
        .footer-content
            .signature-text powered by Üsküdar American Academy