extends ../partials/head.pug
block content
  .all-inner-wrapper 
    .header-wrapper 
      .logo-section 
        img.logo-image(src="/res/images/logo.png", alt="SDG Logo")
      .header-search-bar-section 
        input(type="text" placeholder="Search for projects and organizations") 
        i(class="fa fa-search")
      .header-titles-section 
        .each-header-title My projects
        .each-header-title Leaderboard
        .each-header-title Progress
      .auth-section
        if userAuth 
          img(src="", alt="", srcset="")
        else 
          .each-auth-operation-block Login 
          .each-auth-operation-block(style="background-color:#2948ff; color: #ffffff") Sign Up 
    .inner-main-wrapper 
