extends ../partials/head.pug
block content
  .all-inner-wrapper
    .form-main-wrapper#form
      .form-each-left-column 
        .each-row-title-section 
          .each-row-title Organization Register
          .each-row-social-media-content 
            .each-social-media-icon 
              i(class="fa fa-instagram")
            .each-social-media-icon
              i(class="fa fa-linkedin")
        .inputs-main-wrapper 
          label(for="email") Email
          input.each-input(type="text" placeholder="Email" autocomplete="off")#email
          label(for="email") Password
          input.each-input(type="password" placeholder="Password" autocomplete="off")#password
          .res-info-wrapper#res-info-wrapper
          .submit-button#submit Sign up
          .form-footer-text Uskudar American Academy - 2022
      .form-each-right-column
        .each-right-column-title Welcome to SDG WebApp Organization Register 
        .each-right-column-text Already have an account?
        a(href="/organization/register").each-right-column-button Sign In