extends ../partials/header.pug
block content 
  .all-inner-wrapper
    .waitlist-wrapper
      img.waitlist-img-content(src="/res/images/logo.png")
      .waitlist-wrapper-title Welcome to SDG App
      .waitlist-wrapper-subtitle You have been added to our waitlist
      .waitlist-wrapper-description Your application will be evaluated by our admins. This process can take 10 to 15 minutes. You will receive an email about your application status. Please come back a short time later or refresh the page.