extends ../partials/header.pug
block content
  .all-inner-wrapper
    .waitlist-wrapper
      img.waitlist-img-content(src="/res/images/logo.png")
      .waitlist-wrapper-title Welcome to SDG App
      .waitlist-wrapper-subtitle 6-digit code is sent to your email address.
      .waitlist-wrapper-description Please confirm your email by entering the 6-digit code below.
      .confirmation-input-wrapper 
        input(maxlength="1").each-confirmation-input
        input(maxlength="1").each-confirmation-input
        input(maxlength="1").each-confirmation-input
        input(maxlength="1").each-confirmation-input
        input(maxlength="1").each-confirmation-input
        input(maxlength="1").each-confirmation-input
      .res-info-wrapper#res-info-wrapper
      input(type="submit").submit-button#resend-code-button(style="width:fit-content; padding:2%; font-size: 16px" value="Resend confirmation code")