
.all-inner-wrapper {
  flex-direction: column;
}

.main-content {
  height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  flex-wrap: nowrap !important;
}

.waitlist-button-delete {
  width: 2%;
  background-color: rgb(223, 0, 0);
  height: 30px;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e6e6e6;
  cursor: pointer;
  margin-right: -10px;
  font-size: 14px;
}

.waitlist-button-delete:hover {
  background-color: rgb(255, 0, 0);
}

.volunteers-main-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-volunteer-content {
  width: 96%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #e6e6e6;
  padding: 0 2%;
  margin-bottom: 20px;
  transition: height 0.5s;
  flex-direction: row;
  overflow-y: hidden;
}

.each-volunteer-content-info-wrapper {
  width: fit-content;
  display: flex;
  height: 60px;
  align-items: center;
}

.each-volunteer-info-dates {
  display: flex;
  margin-right: 20px;
}

.each-volunteer-info-dates .each-volunteer-info {
  margin-right: 0;
  font-size: 14px;
}

.each-volunteer-info {
  margin-right: 20px;
  font-size: 14px;
}

.search-tools-wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  align-items: baseline;
}

.search-tools-wrapper input {
  width: 15%;
  padding: 10px;
  border-radius: 15px;
}

.search-tools-wrapper select {
  width: 10%;
  height: 40px;
  background-color: #e6e6e6;
  border-radius: 15px;
  border: 0;
  padding: 0 20px;
}
