.all-inner-wrapper {
  background-color: rgb(211, 223, 255);
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
}

.header-main-wrapper {
  width: calc(100% - 200px);
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: space-between;
}

.header-search-bar-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
  margin-left: 50px;
}

.header-search-bar-section i {
  position: absolute;
  left: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.header-search-bar-section input {
  width: 100%;
  height: 20px;
  font-size: 14px;
  padding: 2%;
  border: 0;
  border-radius: 25px;
  padding-left: 50px;
}

.header-title-content {
  font-weight: bold;
}

.organization-image-content {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 100%;
  margin-right: 20px;
}

.header-second-section {
  width: 100%;
  display: flex;
  width: fit-content;
  align-items: center;
}

.header-first-section {
  display: flex;
  align-items: center;
  width: 80%;
}

.main-inner-wrapper {
  width: calc(90% - 40px);
  height: calc(100% - 140px);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main-wrapper-main-content {
  width: calc(85% - 100px);
  height: calc(100% - 100px);
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  padding: 50px;
  transition: 0.3s;
  overflow-y: scroll;
}

.main-wrapper-sidebar {
  width: 15%;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  border-radius: 50px;
  margin-right: 20px;
  transition: 0.3s;
}

.each-side-bar-icon {
  font-size: 24px;
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.each-side-bar-icon:hover {
  color: rgba(0, 0, 0, 0.5);
}

.each-side-bar-icon-label {
  width: 40%;
  font-size: 16px;
  margin-left: 10px;
  width: fit-content;
}

.main-content-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.main-content-projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}

.each-project-wrapper {
  width: 25%;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.each-project-info-dates {
  display: flex;
}

.each-project-info {
  font-size: 14px;
  z-index: 200;
  width: 50%;
}

.each-project-wrapper img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.main-content-project-info-wrapper {
  display: flex;
  width: 500px;
}

.info-wrapper-each-info {
  margin-right: 50px;
}

.info-wrapper-info-number {
  font-size: 28px;
  color: rgba(0, 0, 0);
}

.info-wrapper-info-description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.create-project-wrapper {
  width: 1000px;
  height: 800px;
  background-color: white;
  position: absolute;
  left: calc(50% - 600px);
  z-index: 1000;
  top: calc(50% - 400px);
  border-radius: 50px;
  box-shadow: 0 0 10px 500px rgba(0, 0, 0, 0.5);
  padding: 50px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
}

.create-project-form-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.close-window-button {
  width: 0;
  height: 0;
  margin-bottom: 10px;
  margin-top: -20px;
  padding: 15px;
  border-radius: 100%;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-window-button:hover {
  background-color: rgb(255, 60, 60);
}

.create-project-form-content input,
.create-project-form-content select,
.create-project-form-content textarea {
  width: 40%;
  margin-bottom: 20px;
  margin-right: 50px;
}

.each-sdg-content {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.each-sdg-info {
  font-size: 12px;
}

.sdg-image {
  width: 50px;
}

.create-form-sdg-goals-check-content {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}

.create-form-sdg-goals-check-content input {
  width: fit-content;
  margin-bottom: 5px;
}

.each-create-form-label {
  width: 40%;
  font-size: 14px;
}

.each-form-session-checkbox-content {
  display: flex;
  align-items: center;
}

.each-form-session-checkbox-content input {
  width: fit-content;
  margin: 0;
  margin-left: 10px;
}

.submit-button {
  width: 20%;
  padding: 1% 0 !important;
  margin-left: 0 !important;
  margin-top: 50px !important;
}

.each-project-main-info-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
}

.each-project-main-info-wrapper div {
  width: 96%;
  height: 20%;
  padding: 2%;
}

.each-project-more-info-wrapper {
  width: 80%;
  height: 80%;
  position: absolute;
  left: calc(50% - 40% - 25px);
  top: calc(50% - 40% - 50px);
  z-index: 300;
  background-color: white;
  box-shadow: 0 0 10px 500px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 50px;
  cursor: default;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
}

.each-project-more-info-wrapper .each-project-info {
  margin-bottom: 20px;
}

.project-sessions-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: fit-content;
}

.each-session-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 20px;
  width: 300px;
  height: fit-content;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.184);
  border-radius: 10px;
  padding: 10px;
}

.each-session-info {
  margin-right: 10px;
  margin-bottom: 10px;
}

.sdg-content {
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sdg-img-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.each-project-sdg-goals-content {
  display: flex;
}

.each-project-more-info-wrapper-info-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.each-project-mark-as-complete-button {
  width: 80% !important;
  height: 50px;
  background-color: blue;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
}

.open-attendance-page-button {
  width: 96%;
  padding: 2%;
  background-color: blue;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

.open-attendance-page-button:hover {
  background-color: rgb(122, 122, 255);
}

.each-project-mark-as-incomplete-button {
    width: 80% !important;
  height: 50px;
  background-color: red;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
}

.each-attendant {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.each-attendant-attendance-buttons {
  display: flex;
}

.attendance-present-button {
  padding: 5px;
  cursor: pointer;
  color: #fff;
  background-color: green;
  margin-right: 5px;
  border-radius: 5px;
}

.attendance-present-button:hover {
  background-color: rgb(0, 102, 0);
}

.attendance-absent-button {
  padding: 5px;
  cursor: pointer;
  color: #fff;
  background-color: red;
  border-radius: 5px;
}

.attendance-absent-button:hover {
  background-color: rgb(154, 0, 0);
}

.map {
  width: 100%;
  height: 200px;
}
