html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.all-inner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.form-main-wrapper {
  width: 70%;
  height: fit-content;
  display: flex;
  box-shadow: 0 10px 50px 10px #ccc;
  opacity: 0;
  transition: 1s;
  margin-bottom: -100px;
  overflow: hidden;
}

.form-each-left-column {
  padding: 5%;
  width: 40%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.form-each-right-column {
  width: 50%;
  height: auto;
  background: #396afc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.each-right-column-title {
  font-size: 32px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-weight: bold;
  width: 95%;
  text-align: center;
}

.each-right-column-text {
  font-size: 16px;
  color: rgba(231, 231, 231, 0.9);
  margin-bottom: 20px;
}

.each-right-column-button {
  width: 100px;
  padding: 10px 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}

.each-right-column-button:hover {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
}

.each-row-title-section {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.each-row-title {
  font-size: 28px;
}

.each-social-media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-left: 10px;
  background-color: rgba(245, 245, 245, 0.8);
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.each-social-media-icon:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(233, 233, 233, 0.8);
}

.each-row-social-media-content {
  display: flex;
  align-items: center;
}

.inputs-main-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.inputs-main-wrapper label {
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.inputs-main-wrapper input {
  width: 92%;
  border-radius: 50px;
  background-color: #f2f2f2;
  margin-left: 10px;
  border: 0;
  margin-bottom: 30px;
  padding: 4%;
  font-size: 14px;
}

.submit-button {
  width: calc(100%);
  border-radius: 50px;
  background: #396afc;
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);
  margin-left: 10px;
  border: 0;
  margin-bottom: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4% 0;
  color: #ffffff;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-button:hover {
  background: #396afc;
  background: -webkit-linear-gradient(to right, #3d5aff, #6d91fd);
  background: linear-gradient(to right, #3d5aff, #6d91fd);
}

.form-footer-text {
  align-self: flex-end;
  margin-top: 1%;
}

.res-info-wrapper {
  width: 100%;
  height: 20px;
  color: red;
  font-size: 14px;
}

.header-wrapper {
  width: 90%;
  height: 90px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 10px #ccc;
  justify-content: space-between;
}

.all-inner-wrapper {
  flex-direction: column;
  overflow-y: hidden;
}

.logo-section {
  width: 100px;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-section img {
  position: absolute;
  height: 100%;
}

.header-search-bar-section {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}

.header-search-bar-section i {
  position: absolute;
  left: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.header-search-bar-section input {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0);
  border-radius: 25px;
  padding-left: 50px;
}

.auth-section {
  height: 100%;
  aspect-ratio: square;
  display: flex;
  align-items: center;
}

.each-auth-operation-block {
  height: 40%;
  width: 100px;
  margin-right: 20px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  transition: 0.3s;
}

.each-auth-operation-block:hover {
  background-color: rgba(0, 115, 255, 1) !important;
  color: #fff !important;
}

.header-titles-section {
  display: flex;
  align-items: center;
}

.each-header-title {
  margin-right: 30px;
  font-size: 16px;
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid rgb(0, 0, 0, 0);
  margin-top: 5px;
  transition: all 0.1s;
}

.each-header-title:hover {
  border-bottom: 2px solid rgba(0, 115, 255, 1);
  color: rgba(0, 115, 255, 1);
}

.each-header-title span {
  position: absolute;
  font-size: 8px;
  right: 0;
  margin-top: -20px;
  color: rgb(200, 120, 0);
}

footer {
  width: 90%;
  height: calc(300px - 10%);
  margin-top: 200px;
  background-color: rgb(40, 40, 100);
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.footer-column-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.each-footer-column {
  width: 20%;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 50px;
}

.each-footer-column hr {
  width: 100%;
  border-color: rgba(255, 255, 255, 0.6);
}

.each-footer-column a {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.volunteer-auth-block {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(40, 40, 40);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}

.volunteer-auth-block:hover {
  box-shadow: 0px 0px 10px 5px rgb(40, 40, 40, 0.5);
}

.search-bar-results-section {
  width: 150%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 10px 10px 5px #cccccc74;
  position: absolute;
  top: 70%;
  z-index: 20000;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  justify-content: start;
}

.search-results-entry-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-result-project {
  width: 90%;
  height: 15%;
  padding: 1% 5%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.each-result-project:hover {
  filter: brightness(0.8);
}

.each-result-project-img {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
}

.each-result-project-img img {
  width: 100%;
  height: 100%;
}

.each-result-id {
  display: none;
}

.each-result-project-texts {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
}

.each-result-name {
  color: rgb(40, 40, 40);
}

.each-result-creator-name {
  color: rgb(40, 40, 40, 0.8);
  font-size: 14px;
}

.hamburger-menu-toggle {
  width: 30px;
  position: absolute;
  left: 20px;
  z-index: 1000000;
  display: none;
  cursor: pointer;
}

.hamburger-menu-toggle hr {
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(0, 0, 0);
  border: 0;
  transition: all 0.2s;
}

.hamburger-menu-wrapper {
  width: 40%;
  position: absolute;
  height: 100%;
  background-color: #1c3273;
  z-index: 100000;
  padding: 100px 30px;
  font-size: 20px;
  color: white;
  flex-direction: column;
  left: calc(-40% - 60px);
  transition: all 0.5s;
  display: flex;
}

.each-header-title-hamburger {
  margin-bottom: 20px;
  position: relative;
}

.each-header-title-hamburger span {
  position: absolute;
  font-size: 14px;
  top: 0;
  right: 0;
  font-weight: 300;
  color: orange;
}

.header-spacer {
  display: none;
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .each-header-title {
    font-size: 12px;
  }

  .header-search-bar-section {
    width: 40%;
  }

  .each-featured-project-content h1 {
    font-size: 24px;
  }

  .each-featured-project-content div {
    font-size: 14px;
  }

  .featured-project-sdg-goal-content {
    width: 50px;
    height: 50px;
  }

}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .each-header-title {
    font-size: 12px;
  }

  .hamburger-menu-toggle {
    display: block;
  }

  .header-titles-section {
    display: none;
  }

  .logo-section {
    display: none;
  }

  .header-spacer {
    display: flex;
  }

  .header-search-bar-section {
    width: 60%;
  }

  .each-featured-project-content h1 {
    font-size: 18px;
  }

  .each-featured-project-content div {
    font-size: 12px;
  }

  .featured-project-sdg-goal-content {
    width: 40px;
    height: 40px;
  }
}