.inner-main-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.cards {
  height: fit-content;
  width: 300px;
  overflow: visible;
  margin-right: 15px;
  cursor: pointer;
}

.cards:hover .card_image {
  filter: brightness(0.8);
}

.card_image {
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.card_image.loading {
  width: 100%;
  height: 180px;
  color: rgba(255, 255, 255, 0.0);
}

.card-image-content-opacity {
  opacity: 0;
}

.card-image-content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card_title {
  margin: 8px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: -8px;
  text-transform: capitalize;
}

.card_title.loading {
  width: 50%;
  height: 1rem;
  border-radius: 3px;
  position: relative;
  color: rgba(255, 255, 255, 0.0);
}

.card_description {
  font-size: 12px;
  margin: 8px;
}

.card_creator {
  margin: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.card_environment {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 10px;
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.face-to-face {
  border: 1px solid rgba(250, 200, 0, 0.8);
  background-color: rgba(250, 200, 0, 0.8);
}

.online {
  border: 1px solid rgba(0, 115, 255, 0.8);
  color: rgba(0, 115, 255, 0.8);
}

.loading {
  position: relative;
  background: #cccccc;
  color: rgba(255, 255, 255, 0.0);
}

.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: loading 0.8s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.each-project-row {
  display: flex;
  position: absolute;
  overflow: visible;
  min-width: 95%;
  height: 300px;
  transition: all 1s;
  left: 0;
  margin-top: -5%;
}

.btn {
  position: absolute;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(20, 20, 20, 0.8);
  border-radius: 100px;
  transition: opacity 0.3s;
  z-index: 100;
}

.each-project-slider-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
  height: 130%;
  align-items: center;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: -5px;
  margin-right: 5px;
}

.each-project-row-main-wrapper {
  width: 90%;
  height: 50%;
  padding: 0 5%;
  margin-bottom: 100px;
}

.each-project-row-title {
  margin-top: 50px;
  font-size: 32px;
  margin-bottom: -20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}


.main-wrapper-todays-picks {
  width: 90%;
  height: 75%;
  background-color: coral;
  margin: 0 5%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.each-featured-project-content {
  width: 90%;
  height: 100%;
  transition: all 1s;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.featured-project-image-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.featured-project-image-content img {
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}

.feautred-inner-wrapper {
  width: 150%;
  display: flex;
  height: 100%;
  position: absolute;
  left: 0;
  transition: all 1s;
}

.each-featured-project-content-info-wrapper {
  width: 90%;
  height: fit-content;
  position: relative;
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

.each-featured-project-content-info-wrapper-texts {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.featured-project-sdg-goal-content {
  width: 75px;
  height: 75px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.featured-project-sdg-goal-content img {
  width: 100%;
  height: 100%;
}

.each-featured-project-content-info-wrapper-sdgs {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}

.join-project-button {
  width: 100px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgba(0, 82, 182, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.join-project-button:hover{
  background-color: rgba(0, 94, 210, 0.8);
}

.featured-wrapper-main-title {
  position: absolute;
  left: 5%;
  top: 10%;
  color: white;
  z-index: 1000;
  font-weight: 500;
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
}

.view-time-progress-bar {
  width: 98%;
  border-radius: 10px;
  height: 10px;
  z-index: 100;
  position: absolute;
  bottom: 10px;
  margin-left: 1%;
  overflow: hidden;
}

.view-time-progress-bar-inner-content {
  width: 0%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.8);
  position: absolute;
  transition: all 5s;
  z-index: 1000;
}
