.inner-main-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: fit-content;
  background-color: rgb(20, 20, 20);
  overflow-y: scroll;
}

.learn-main-wrapper {
  width: 60%;
  height: 100%;
}

.featured-activist-main-wrapper {
  width: 40%;
  height: 100%;
}

.main-background-shape-cluster {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-background-shape-cluster-one {
  width: 80%;
  height: 100%;
  transform: skewX(20deg);
  border-radius: 10%;
  position: absolute;
}

.main-background-shape-cluster-two {
  width: 50%;
  height: 100%;
  transform: skewX(-20deg);
  border-radius: 10%;
  position: absolute;
}

.main-background-shape-cluster-three {
  width: 100%;
  background-color: rgb(61, 61, 255);
  position: absolute;
  display: flex;
  padding: 2%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
  color: aliceblue;
}

.main-featured-activist-info-box  {
  width: 50%;
  position: absolute;
  z-index: 10000000;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 5%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.395);
  color: white;
}

.main-featured-activist-info-box-title {
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 40px;
}

.main-featured-activist-info-box-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 50px;
}

 .main-featured-activist-image-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000000;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  left: -25%;
 }

 .main-featured-activist-image-wrapper img {
  width: 80%;
 }

 .rows-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
 }

 .each-content-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
 }

 .each-learn-content {
  width: 25%;
  height: 200px;
  background-color: black;
  margin-right: 20px;
  position: relative;
  margin-bottom: 20px;
 }

 .title-wrapper {
  margin-bottom: 25px;
  color: white;
 }

 .each-learn-content-image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
 }

 .each-learn-content-image img {
  width: 100%;
 }

 .each-learn-content-info-content {
  width: 90%;
  padding: 5%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
 }

 .each-learn-content-info-content-title {
  font-size: 14px;
  color: white;
 }

 .each-learn-content-info-content-activist {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.602);
 }

 .each-activist-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
  min-height: 100%;
 }
