
.inner-main-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll !important;
}

.organization-main-wrapper {
  width: 90%;
  height: fit-content;
  padding: 5% 5%;
  position: relative;
}

h1 {
  margin: 5%;
  margin-bottom: 0;
}

.projects-main-wrapper {
  width: 100%;
  height: 100%;
  padding: 2% 0;
  display: flex;
  flex-wrap: wrap;
}

.each-project-wrapper {
  width: calc(25% - 20px);
  height: 300px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.card_image {
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  transition: all 0.3s;
}


.card-image-content-opacity {
  opacity: 0;
}

.card-image-content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card_title {
  margin: 8px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: -8px;
  text-transform: capitalize;
}

.card_description {
  font-size: 12px;
  margin: 8px;
}

.card_creator {
  margin: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.card_environment {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 10px;
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.face-to-face {
  border: 1px solid rgba(250, 200, 0, 0.8);
  background-color: rgba(250, 200, 0, 0.8);
}

.online {
  border: 1px solid rgba(0, 115, 255, 0.8);
  color: rgba(0, 115, 255, 0.8);
}

.project-view-button {
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 100, 255, 1);
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s;
  font-size: 14px;
}

.project-view-button:hover {
  background-color: rgb(54, 133, 252);
}

.organization-base-info-wrapper {
  width: 90%;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  padding: 0 5%;
}

.organization-photo {
  height: 180px;
  width: 190px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: -20px;
}

.organization-photo img {
  height: 100%;
  transform: scale(1.1)
}

.organization-textual-info-content {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 50px;
  margin-left: 50px;
}

.organization-textual-info-content-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.organization-more-info-button {
  width: 200px;
  padding: 10px 2%;
  font-size: 14px;
  color: #fff;
  background-color: rgb(70, 70, 150);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.organization-more-info-button:hover {
  background-color: rgb(100, 100, 150);
}

.organization-sdg-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.sdgs-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.each-sdg-goal-content {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 2px solid rgb(70, 70, 150);
  border-radius: 2px;
}

.each-sdg-goal-content img {
  width: 100%;
}

.organization-textual-info-content-top-second-section {
  width: fit-content;
  display: flex;
  align-items: center;
}

.organization-name {
  font-size: 28px;
  font-weight: 700;
  color: #444444;
}

.organization-short-description {
  font-size: 16px;
  font-weight: 400;
  color: #444444;
}

.sdgs-wrapper-title, .project-info-wrapper-title {
  font-size: 24px;
  font-weight: 400;
}

.organization-like-button {
  width: fit-content;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid black;
  margin-right: 30px;
  font-size: 18px;
  transition: 0.3s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.organization-like-button:hover {
  background-color: #e2e2e2;
}

.organization-absolute-background {
  width: 90%;
  height: 75px;
  position: absolute;
  background-color: #ccc;
  z-index: -5;
  top: 30px;
  left: 5%;
}

.organization-textual-info-content-bottom {
  margin-bottom: 30px;
  background-color: #f8f9fa;
  color: #444444;
  padding: 20px;
  line-height: 30px;
  position: relative;
}

.organization-description-title {
  position: absolute;
  top: -40px;
  left: 0;
  border-bottom: 3px solid #444444;
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  font-weight: 700;
}

.organization-sdg-completes-info-box {
  width: 170px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background-color: rgb(200, 200, 115);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -10px;
}

.organization-sdg-completes-info-box-circle-content {
  width: 10px;
  height: 10px;
  background-color: rgb(70, 70, 150);
  border-radius: 100%;
}
